ControleUsuarioService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://uninorte.com.br/" name="ControleUsuarioService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://uninorte.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://uninorte.com.br/" schemaLocation="ControleUsuarioService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="conectarcontrole">
    <part name="parameters" element="tns:conectarcontrole"/>
  </message>
  <message name="conectarcontroleResponse">
    <part name="parameters" element="tns:conectarcontroleResponse"/>
  </message>
  <message name="buscarUsuario">
    <part name="parameters" element="tns:buscarUsuario"/>
  </message>
  <message name="buscarUsuarioResponse">
    <part name="parameters" element="tns:buscarUsuarioResponse"/>
  </message>
  <message name="editarusuariocontrole">
    <part name="parameters" element="tns:editarusuariocontrole"/>
  </message>
  <message name="editarusuariocontroleResponse">
    <part name="parameters" element="tns:editarusuariocontroleResponse"/>
  </message>
  <message name="estaConectadocontrole">
    <part name="parameters" element="tns:estaConectadocontrole"/>
  </message>
  <message name="estaConectadocontroleResponse">
    <part name="parameters" element="tns:estaConectadocontroleResponse"/>
  </message>
  <message name="listarperfilcontrole">
    <part name="parameters" element="tns:listarperfilcontrole"/>
  </message>
  <message name="listarperfilcontroleResponse">
    <part name="parameters" element="tns:listarperfilcontroleResponse"/>
  </message>
  <message name="desconectarcontrole">
    <part name="parameters" element="tns:desconectarcontrole"/>
  </message>
  <message name="desconectarcontroleResponse">
    <part name="parameters" element="tns:desconectarcontroleResponse"/>
  </message>
  <message name="inserirusuariocontrole">
    <part name="parameters" element="tns:inserirusuariocontrole"/>
  </message>
  <message name="inserirusuariocontroleResponse">
    <part name="parameters" element="tns:inserirusuariocontroleResponse"/>
  </message>
  <message name="apagarusuariocontrole">
    <part name="parameters" element="tns:apagarusuariocontrole"/>
  </message>
  <message name="apagarusuariocontroleResponse">
    <part name="parameters" element="tns:apagarusuariocontroleResponse"/>
  </message>
  <portType name="ControleUsuario">
    <operation name="conectarcontrole">
      <input wsam:Action="http://uninorte.com.br/ControleUsuario/conectarcontroleRequest" message="tns:conectarcontrole"/>
      <output wsam:Action="http://uninorte.com.br/ControleUsuario/conectarcontroleResponse" message="tns:conectarcontroleResponse"/>
    </operation>
    <operation name="buscarUsuario">
      <input wsam:Action="http://uninorte.com.br/ControleUsuario/buscarUsuarioRequest" message="tns:buscarUsuario"/>
      <output wsam:Action="http://uninorte.com.br/ControleUsuario/buscarUsuarioResponse" message="tns:buscarUsuarioResponse"/>
    </operation>
    <operation name="editarusuariocontrole">
      <input wsam:Action="http://uninorte.com.br/ControleUsuario/editarusuariocontroleRequest" message="tns:editarusuariocontrole"/>
      <output wsam:Action="http://uninorte.com.br/ControleUsuario/editarusuariocontroleResponse" message="tns:editarusuariocontroleResponse"/>
    </operation>
    <operation name="estaConectadocontrole">
      <input wsam:Action="http://uninorte.com.br/ControleUsuario/estaConectadocontroleRequest" message="tns:estaConectadocontrole"/>
      <output wsam:Action="http://uninorte.com.br/ControleUsuario/estaConectadocontroleResponse" message="tns:estaConectadocontroleResponse"/>
    </operation>
    <operation name="listarperfilcontrole">
      <input wsam:Action="http://uninorte.com.br/ControleUsuario/listarperfilcontroleRequest" message="tns:listarperfilcontrole"/>
      <output wsam:Action="http://uninorte.com.br/ControleUsuario/listarperfilcontroleResponse" message="tns:listarperfilcontroleResponse"/>
    </operation>
    <operation name="desconectarcontrole">
      <input wsam:Action="http://uninorte.com.br/ControleUsuario/desconectarcontroleRequest" message="tns:desconectarcontrole"/>
      <output wsam:Action="http://uninorte.com.br/ControleUsuario/desconectarcontroleResponse" message="tns:desconectarcontroleResponse"/>
    </operation>
    <operation name="inserirusuariocontrole">
      <input wsam:Action="http://uninorte.com.br/ControleUsuario/inserirusuariocontroleRequest" message="tns:inserirusuariocontrole"/>
      <output wsam:Action="http://uninorte.com.br/ControleUsuario/inserirusuariocontroleResponse" message="tns:inserirusuariocontroleResponse"/>
    </operation>
    <operation name="apagarusuariocontrole">
      <input wsam:Action="http://uninorte.com.br/ControleUsuario/apagarusuariocontroleRequest" message="tns:apagarusuariocontrole"/>
      <output wsam:Action="http://uninorte.com.br/ControleUsuario/apagarusuariocontroleResponse" message="tns:apagarusuariocontroleResponse"/>
    </operation>
  </portType>
  <binding name="ControleUsuarioPortBinding" type="tns:ControleUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="conectarcontrole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="editarusuariocontrole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="estaConectadocontrole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarperfilcontrole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="desconectarcontrole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="inserirusuariocontrole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="apagarusuariocontrole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ControleUsuarioService">
    <port name="ControleUsuarioPort" binding="tns:ControleUsuarioPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

